.Data {
    text-align: center;
//    margin-top: 6rem;
}
#col {
    flex-basis: 0;
    flex-grow: 0;
    max-width: 100%;
    text-align: left;
}

@media only screen and (max-width : 600px) {

    #col {
        flex-grow: 1;
    }

}